.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #333;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  height: 100%;
  width: 100%;
}

.slider .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
}

.sun {
  left: 8px;
}

.moon {
  right: 8px;
}

.slider::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 3px;
  top: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider::before {
  transform: translateX(30px);
}
